node_modules
dist
*.tsbuildinfo
dist-ssr
.vite
.cache
coverage
.eslintcache
*.local
.env
.env.*
!.env.example
.DS_Store
Thumbs.db
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
playwright-report
test-results
